---
import "./InteractableIcon.scss";
import WorldsList from "./WorldsList.astro";

interface Props {
    id: string;
    position: { x: string; y: string };
    iconHref: string;
    title: string;
    date: string;
    worlds: Array<{ href: string; imgRef: string }>;
    reversedWorlds: boolean;
}

const {
    id,
    iconHref,
    title,
    worlds,
    date,
    position,
    reversedWorlds = false,
} = Astro.props;
---

<button
    class="interactableIcon"
    style={`top:${position.y}; left:${position.x};`}
    id={id}
>
    <img
        class="point"
        src="images/point.png"
        width="256px"
        alt=""
        onclick="onClick(self)"
    />
    <img
        class="logo"
        src={iconHref}
        width="256px"
        alt={title}
        onclick="onClick(self)"
    />

    <section class="infoPanel">
        <section class="top-section">
            <h1>{title}</h1>
            <h2>{date}</h2>
        </section>
        <hr />
        <p>
            <slot />
        </p>
        <WorldsList id={id} worlds={worlds} top={reversedWorlds} />
    </section>

    <script defer>
        function onClick() {
            document.documentElement.scrollLeft = 0;
            const button = document.activeElement;
            var rect = findAbsolutePosition(button);
            if (button.classList.contains("selected")) {
                document.documentElement.scrollLeft =
                    rect.x + (50 * document.body.clientWidth) / 1920;
                button.classList.remove("selected");
                return;
            }
            document.documentElement.scrollLeft =
                rect.x - (100 * document.body.clientWidth) / 1920;
            document.querySelectorAll(".selected").forEach((el) => {
                el.classList.remove("selected");
            });
            button.classList.add("selected");
        }
    </script>
</button>